$header-height: 89px;

.modal {
  height: calc(100vh - $header-height);
}

.background-wrapper {
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px) brightness(0.5);
}

.movie-poster {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.favorite-btn {
  height: fit-content;
}

.movie-poster-placeholder {
  text-align: center;
  aspect-ratio: 0.66;
}

.movie-info {
  height: fit-content;
}

.icon {
  cursor: pointer;
}
