<app-header (click)="closeModal()"></app-header>
@if(currentMovie$ | async; as currentMovie) {
  <div class="modal d-flex bg-dark flex-column align-items-center justify-content-between w-100 px-md-5 px-3 position-relative text-white gap-5">
    <div class="background-wrapper position-absolute w-100 h-100 z-0" [style.background-image]="'url(' + getBackgroundUrl(currentMovie.backdrop_path) + ')'"></div>
    <div class="modal-header z-1 position-relative w-100 d-flex align-items-center gap-2">
      <i class="bi bi-chevron-left icon" (click)="closeModal()"></i>
      <p class="m-0 text-light">Back</p>
    </div>
    @if(isMediumScreen$ | async) {
      <div class="w-md-75 w-100 d-flex flex-column position-relative gap-3">
        <div class="row w-100 justify-content-center">
          @if(currentMovie.poster_path) {
            <img class="movie-poster rounded col-4 object-fit-contain p-0" [src]="getPosterUrl(currentMovie.poster_path)" alt="{{ currentMovie.title }}">
          } @else {
            <div class="movie-poster col-4 rounded object-fit-contain movie-poster-placeholder d-flex justify-content-center align-items-center">
              <p>{{currentMovie.title}}</p>
            </div>
          }
          <div class="row justify-content-between col-7">
            <div class="col-9 d-flex flex-column gap-3">
              <p class="mb-0">
                Score:
                <br>
                <strong>{{ currentMovie.vote_average }}</strong>
              </p>
              <p class="mb-0">
                Rating:
                <br>
                <strong>{{ currentMovie.adult ? 'R' : 'G' }}</strong>
              </p>
              <p class="mb-0">
                Release Date:
                <br>
                <strong>{{ currentMovie.release_date }}</strong>
              </p>
            </div>
            <i class="bi bi-bookmark-star col-2 p-0 h1" [ngClass]="isInFavorites(currentMovie) ? '' : 'icon'" (click)="addToFavorites(currentMovie)"></i>
          </div>
        </div>
        <div class="d-flex flex-column gap-3 pt-5">
          <h1 class="movie-title m-0">{{ currentMovie.title }}</h1>
          @if(currentMovie.overview) {
            <hr>
            <p class="overview">{{ currentMovie.overview }}</p>
            <hr>
          }
        </div>
      </div>
    } @else {
      <div class="w-md-75 w-100 row d-flex position-relative gap-5 justify-content-center">
        @if(currentMovie.poster_path) {
          <img class="movie-poster rounded col-3 col-xl-2 p-0" [src]="getPosterUrl(currentMovie.poster_path)" alt="{{ currentMovie.title }}">
        } @else {
          <div class="movie-poster rounded col-3 col-xl-2 d-flex movie-poster-placeholder justify-content-center align-items-center">
            <p>{{currentMovie.title}}</p>
          </div>
        }
        <div class="col-8 row justify-content-between movie-info gap-3">
          <div class="d-flex justify-content-between">
            <h2 class="movie-title">{{ currentMovie.title }}</h2>
            <button type="button" class="btn btn-outline-secondary favorite-btn" [disabled]="isInFavorites(currentMovie)" (click)="addToFavorites(currentMovie)">Add to favourite</button>
          </div>
          <div class="d-flex gap-3">
            <p class="mb-0">
              <strong>Score:</strong>
              {{ currentMovie.vote_average }}
            </p>
            <div class="vr"></div>
            <p class="mb-0">
              <strong>Rating:</strong>
              {{ currentMovie.adult ? 'R' : 'G' }}
            </p>
            <div class="vr"></div>
            <p class="mb-0">
              <strong>Release Date:</strong>
              {{ currentMovie.release_date }}
            </p>
          </div>
          @if(currentMovie.overview) {
            <div class="d-flex flex-column py-4">
              <hr>
              <p class="overview">{{ currentMovie.overview }}</p>
              <hr>
            </div>
          }
        </div>
        </div>
    }
    <div class="w-100 d-flex justify-content-between modal-footer z-1 position-relative">
      <i class="bi bi-arrow-left text-white icon" (click)="prevMovie()"></i>
      <i class="bi bi-arrow-right icon" (click)="nextMovie()"></i>
    </div>
  </div>

}

