<div [ngSwitch]="moviePosition">
  <div *ngSwitchCase="MoviePosition.FIRST" class="modal__header">
    <h3 class="modal__header-button" (click)="onCloseModal()">
      <i class="bi bi-arrow-left-circle"></i>
      <span class="text-lg">Back to list</span>
      <span class="text-sm">Back</span>
    </h3>
    <h3 class="modal__header-button" (click)="onNextMovie()">
      <span class="text-lg">Next Movie</span>
      <span class="text-sm">Next</span>
      <i class="bi bi-arrow-right-circle"></i>
    </h3>
  </div>
  <div *ngSwitchCase="MoviePosition.MIDDLE" class="modal__header">
    <h3 class="modal__header-button" (click)="onPrevMovie()">
      <i class="bi bi-arrow-left-circle"></i>
      <span class="text-lg">Previous Movie</span>
      <span class="text-sm">Prev</span>
    </h3>
    <h3 class="modal__header-button" (click)="onNextMovie()">
      <span class="text-lg">Next Movie</span>
      <span class="text-sm">Next</span>
      <i class="bi bi-arrow-right-circle"></i>
    </h3>
  </div>
  <div *ngSwitchCase="MoviePosition.LAST" class="modal__header">
    <h3 class="modal__header-button" (click)="onPrevMovie()">
      <i class="bi bi-arrow-left-circle"></i>
      <span class="text-lg">Previous Movie</span>
      <span class="text-sm">Prev</span>
    </h3>
    <h3 class="modal__header-button" (click)="onCloseModal()">
      <span class="text-lg">Back to list</span>
      <span class="text-sm">Back</span>
      <i class="bi bi-arrow-right-circle"></i>
    </h3>
  </div>
  <div *ngSwitchCase="MoviePosition.ONLY" class="modal__header">
    <h3 class="modal__header-button" (click)="onCloseModal()">
      <i class="bi bi-arrow-left-circle"></i>
      <span class="text-lg">Back to list</span>
      <span class="text-sm">Back</span>
    </h3>
    <h3 class="modal__header-button" (click)="onCloseModal()">
      <span class="text-lg">Back to list</span>
      <span class="text-sm">Back</span>
      <i class="bi bi-arrow-right-circle"></i>
    </h3>
  </div>
</div>
